*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Ubuntu;
}

nav {
    width: 100vw;
    background-color:hsl(214, 89%, 52%);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@media (max-width: 992px), (max-width: 1200px){
    nav {
        padding:20px 35px;
    }
} 
@media (max-width: 890px) {
    nav{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        padding:20px 20px;
    }
}
@media (max-width: 586px) {
    nav{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        padding:20px 35px;
    }
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}
 @media (max-width: 992px){
    nav a{
        font-size: 1.25rem;
    }
}  
nav a:hover{
    color: #00428d;
    cursor: pointer;
}
.home{
    background-color: #ffffff;
    color:#1877f2;
    width: 9rem;
    height: 2.5rem;
    padding: 6px 10px;
    text-align: center;
    border-radius: 80px;
}
nav img{
    width: 40px;
    height: 30px;
}
.nav-tags{
    width: 55vw;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 786px) {
    .nav-tags{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}
@media (max-width: 586px) {
    .nav-tags{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}

.SocialMedia{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
nav .SocialMedia img{
    width: 30px;
    height: 30px;
}
.HeroSection {
    padding: 1.3rem 6.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.hero-text{
    width: 80%;
    margin-top: 1.3rem;
}
.HeroSection div h1{
    font-size: 2.6rem;
    color: #7c7c7c;
    padding-bottom: 1.3rem;
    text-align: center;
}
@media (max-width: 992px){
    .HeroSection div h1{
        font-size: 1.8rem;
        /* width: 30rem; */
        text-align: center;
    }
    .HeroSection div h4{
        text-align: center;
    }
} 
@media (max-width: 596px){
    .HeroSection div h1{
        font-size: 1.9rem;
        width: 20rem;
        text-align: center;
    }
    .HeroSection div h4{
        text-align: center;
        font-size: 18px;
        width: 300px;
        text-align: center;
    }
} 
.HeroSection div h4{
    font-size: 1.9rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: center;
}

.button{
    color: white;
    background-color:#1877f2;
    width: 13.8rem;
    height: 4rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
}
@media (max-width: 992px){
    .button{
        margin-top: 13rem;
    }
} 
@media (max-width: 992px){
    .button{
        /* height: 2rem; */
        margin-bottom: 13rem;
        margin-left: 10rem;

    }
} 
.button:hover{
    background-color: #2a86ff;
}

.button:active{
    background-color: #979797;
}

.send-email{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
    margin-right: 5rem;
    height: 16rem;
    margin-top: 1.9rem;
}
@media (max-width: 992px){
    .send-email{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    } 
} 
@media (max-width: 576px){
    .send-email{
        margin-left: 14rem;
    } 
} 
.info label{
    font-size: 18px;
    margin-top: 10px;
}
.message-text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}
.message-text label{
    margin-top: -1.5rem;
    font-size: 18px;
}
@media (max-width: 992px){
    .message-text{
        margin-right: -1rem;
        margin-bottom: 10rem;
    }
    .message-text label{
        margin-top: -2rem;
        margin-right: -2rem;
    }
} 
.info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
input{
    width: 25rem;
    height: 3.1rem;
    border-radius: 6px;
    padding: 1.3rem;
    font-size: 1.2rem;
    background-color: #e6e6e6;
    border: none;
    margin-top: 0.6rem;
}

textarea{
    width: 25rem;
    height: 9.4rem; 
    border-radius: 6px;
    padding: 1.3rem;
    font-size: 1.1rem;
    background-color: #e6e6e6;
    border: none;
    margin-top: 0.6rem;  
    margin-left: -4rem;
}
@media (max-width: 992px){
    textarea{
margin-left: -2.5rem;
    }
}